<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>  
    header { 
        background: var(--primary); 
        color: rgb(24, 17, 17); 
        padding: 1rem 5%; 
        display: flex; 
        justify-content: space-between; 
        align-items: center; 
        position: sticky; 
        top: 0; 
        z-index: 1000; 
    }
    .logo { 
        font-size: 1.5rem; 
        font-weight: bold; 
        color: #fff; 
        text-decoration: none; 
    }
    .logo span { 
        color: var(--accent); 
    }
    </style>
</head>
<body>
    <header>
        <a href="index.html" class="logo">UTTAM<span>HUB</span></a>
        <a href="#contact" style="background:var(--accent); color:white; padding:8px 15px; text-decoration:none; border-radius:5px; font-size:0.8rem;">Contact Us</a>
    </header>
</body>
</html>